body{
    background: linear-gradient(to right, rgb(177, 213, 251), rgb(255, 255, 255));
    background-repeat: repeat-y;
    margin: auto 0;
    font-family: monospace;
}

nav{
    padding: 0;
    margin: 0;
}
.logo{
    margin: 0;
    text-align: center;
    margin: auto;
    font-size: 35px;
    font-family: 'Rokkitt', serif;
    letter-spacing: 3px;
}

/* NAVIGATION BAR  */
.main-nav{
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0;
}

li{
    padding-top: 15px;
}

a{
    color:#333;
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
}

.push{
    margin-left: auto;
}


/* COVER  */

.illustration{
    height: 50vh;
    width: 325px;
}
.container{
    display: flex;
    justify-content: space-between;
}


.cover-line{
    font-size: 50px;
    align-self: center;
    justify-self: center;
    width: 50%;
    padding-left: 30px;
    text-align: center;
    word-spacing: 15px;
}
.illustration{
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}


/* BOXES  */
.box{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.boxes{
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 250px;
    height: 250px;
    border: 2px solid #444;
    padding: 18px;
}

.image{
    justify-content: center;
    height: 200px;
}

/* FOOTER  */
footer{
    background: rgb(126, 126, 126);
    height: 15vh;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

/* MEDIA QUERY */
@media only screen and (max-width: 768px){
    .main-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    li{
        padding: 10px;
        margin: auto;
        align-self: center;
    }
    
    
    .container{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 35px;
        padding-top: 15px;
        padding-left: 0;
        margin: 0;
        width: 80%;
        justify-self: center;
        text-align: center;
    }

    .box{
        padding: 50px;
    }

}
