name: My First Workflow

on: push

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Welcome message
      run: echo "My First Github Actons JOB"

    - name: List Files
      run: ls

    - name: Read file
      run: cat README.md
