name: Generate ASCII Artwork

on: push

jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: List repo files
      run: ls -ltra

    - name: Executing the ascii script
      run: ./ascii-script.sh
